<!DOCTYPE html>
<html>
<head>
  <title>Uploaded Files</title>
</head>
<body>
  <h1>Uploaded Files</h1>
  <% files.forEach(file => { %>
    <p><a href="/uploads/<%= file %>"><%= file %></a></p>
  <% }) %>
</body>
</html>